 *{
            margin: 0;
            padding: 0;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }

        .card{
            width: 90%;
            max-width: 470px;
            background-color: lightblue;
            color: #fff;
            margin: 100px auto 0;
            border-radius: 20px;
            padding: 40px 35px;
            text-align: center;
        }
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    
      border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;


}

.search button img{
    width: 20px;
}

.wtc{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}
.weather img{
    width: 50px;
    margin-top: 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    color: black;
    font-weight: bolder;
    display: none;
}
